* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: sans-serif; */
}

/* nav {
    z-index:100;
} */
.container {
    position: fixed;
    width: 100%;
    display: flex;
    
}

.container section {
    min-width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    /* background: #ffff; */
}

/* .container section:nth-child(2) {
    background: lightblue;
}

.container section:nth-child(3) {
    background: lavender;
}

.container section:nth-child(4) {
    background: lightcoral;
}

.container section .content {
    max-width: 800px;
    padding: 40px;
    text-align: center;
}

.container section .content h2 {
    font-size: 4em;
    color: #111;
    text-align: center;
}

.container section .content p {
    font-size: 1.3em;
    color: #111;
    line-height: 1.4em;
    text-align: center;
} */