@import "variables";

.headerBar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;

}
.logo {
    @include bodyProps;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    margin: auto 0;
 
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    
}

nav li {
   padding: 0 20px;
}



nav a {
    @include bodyProps;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;

    
}

nav a:hover {
    border-bottom: 2px solid $offwhite;
}

nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}

nav .closeMenu {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

@media(max-width: 800px) {
    nav .navBar {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background:#424242  ;
        transition: top 2s ease;
        display: none;
        font-size: 2rem;

    }

    nav .navBar .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    nav .openMenu {
        display: block;
        text-align: right;
        color: $offwhite;
        font-size: 2rem;
    }
}