@import "variables";

.headerBar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;

}
.logo {
    @include bodyProps;
    text-transform: uppercase;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    
}

nav li {
   padding: 0 20px;
}



nav a {
    @include bodyProps;
    text-decoration: none;
    text-transform: uppercase;

    
}

nav a:hover {
    border-bottom: 2px solid $offwhite;
}


