.navBar li{
    list-style: none;
    transition: all 0.4s;
    z-index: 15;
}

.navBar li:hover {
    transform: scale(1.1);

}

.navBar a {
    text-decoration: none;
    text-transform: uppercase;

}

// .main-container {
//     width: 100vw;
//     height: 100vh;

// }

// .main-container::after {
//     content: '';
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
// }


.headerBar {
    position: fixed;
    display: flex;
    padding: 2em 4em;
    z-index: 12;
}

.navBar {
    position: fixed; 
    display: flex;
    right: 4em;

}

.navBar li{
    margin-left: 1.5em;
}

// .container {
//     width: 400vw;
//     display: flex;

// }
// .container .section {
//     width: 100vw;
//     height: 100vh;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
// }

// .content {
//     margin-top: 50px;
//     margin-right: 100px;
//     z-index: 10;
// }