//FONTS
@mixin headingProps {
font-family: 'termina', sans-serif;
font-weight: 800;
font-style: normal;
letter-spacing: 2px;
text-transform: uppercase;
}

@mixin bodyProps {
    color: $offwhite;
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    font-style: normal;
    
}


@mixin outline {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:$offwhite;
}

@mixin removeOutline {
    color: $offwhite;
    -webkit-text-stroke-width: none;
    -webkit-text-stroke-color: none;
}

//COLOURS
$offwhite: #E7E0DC;




