@import "snippet";
@import "variables";
@import "header";
@import "animations";

//GENERAL STYLING

body {
    background-color: #141414 ;
    @include bodyProps;
 
}

p {
    font-size: 18px;
    line-height: 1.6;
}


//WELCOME PAGE

h1 span {
    @include outline;
}


.test4 {
@include headingProps;
font-size: 3.5rem;
color: $offwhite;

    }


.homeSpacer {
    height: 40vh

}

.spacer {
    height: 10vh;
}

//ABOUT PAGE

section h2 {
    @include headingProps;
    @include outline;
    text-align: left;
    font-size: 3rem;  
    margin-bottom: 0;
    
}

.aboutText {
    @include grid;
    
}

.aboutText img{

    width: 100%;
    object-fit: cover;
    grid-column-start: 1;
    
}

.aboutME {
    text-align: left;
    
}

//SKILLS

.skills ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    row-gap: 50px;
    list-style: none;
    text-align: center;
    margin: 0;
    
}

i {
    font-size: 50px;
    color: $offwhite;
}

//PROJECTS

h3 {
    @include headingProps;
    @include outline;
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 0;
    margin-top: 10px;
}



.projectGrid {
    display:grid;
    grid-template-columns: repeat(2, 600px);
    column-gap: 50px;
    align-items: left;
}

.ProjectName {
    text-align: center;
}

.extra { 
    
    background: rgba(29, 106, 154, 0.72);
    color: #fff;
    display: none;
   

    
}

.extra a {
    text-decoration: none;
    color: $offwhite;
    font-size: 18px;
}

.extra a:hover {
    border-bottom: 2px solid $offwhite;
}


.projectText p {
    margin-left: 20px;
    margin-top: 0;
}


.ProjectName:hover h3 {
    @include removeOutline;
}

.ProjectName:hover .extra {
    
    background-color: transparent;
    opacity: 1;
    display: grid;
    grid-template-columns: 300px 250px;
    gap: 40px;
    text-align: left;

  }

.projectGrid .initialIMG {
      width: 50%;
      object-fit: cover;
  }

  .ProjectName:hover .initialIMG {
      display: none;
  }

  .hoverIMG {
      width: 100%;
      object-fit: contain;
  }

  .projectLinks {
      text-align: left;
  }

  .projectText p {
      margin-left: 0;
      margin-top: 30px;
  }



  //CONTACT

  input {
    width: 366px;
    background-color: #2F2F2F;
    border-style: none;
    color: $offwhite;
    padding: 15px;

}

textarea {
    background-color: #2F2F2F;
    border-style: none;
    resize: none;
    color: $offwhite;
    padding: 15px;
}

input::placeholder, textarea::placeholder {
    color: #424242   ;
    letter-spacing: 2px;
    @include bodyProps;
    font-weight: 500;
    font-size: 1rem;
    
  }

button {
    background-color: #1482A4;
	@include bodyProps;
    font-weight: 500;
	color:$offwhite;
    text-decoration: none;
    border-style: none;
    padding: 10px;
    text-transform: uppercase;
    margin-top:20px;

}


form {
    display: flex;
    flex-direction: column;
    width: 800px;
    @include bodyProps;
    line-height: 25px; 
}

.userInformation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.contactSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}


.contact {
    margin-bottom: 50px;
}

.contactCopy {
    margin: 0;
    @include bodyProps;

}

.socials i {
    font-size: 30px;
    padding-right: 20px;
}

.contactHeading {
    text-transform: uppercase;
}

.contactLink {
    text-decoration: none;
    @include bodyProps;
}

.captcha {
    margin-top: 20px;
}