@import "snippet";
@import "variables";
@import "header";
@import "animations";

//GENERAL STYLING


body {
    background-color: #141414 ;
    @include bodyProps;
 
}

p {
    font-size: 20px;
    line-height: 1.6;
    margin-top: 0;
}


//WELCOME PAGE

h1 span {
    @include outline;
}


.test4 {
@include headingProps;
font-size: 4rem;
color: $offwhite;

    }


.homeSpacer {
    height: 40vh

}

.spacer {
    height: 5vh;
}

//ABOUT PAGE

section h2 {
    @include headingProps;
    @include outline;
    text-align: left;
    font-size: 3rem;  
    margin-bottom: 0;
    
}

.aboutText {
    display:grid;
    grid-template-columns: 360px 600px;
    column-gap: 60px;
    
}

.aboutText img{

    width: 100%;
    object-fit: contain;
    grid-column-start: 1;
    
}

.aboutME {
    text-align: left;
    
}

.sillyIntro {
    font-style: italic;

}
//SKILLS

.skills ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    row-gap: 50px;
    list-style: none;
    text-align: center;
    margin: 0;
    
}

i {
    font-size: 50px;
    color: $offwhite;
}

//PROJECTS

h3 {
    @include headingProps;
    @include outline;
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 0;
    margin-top: 10px;
}



.projectGrid {
    display:grid;
    grid-template-columns: repeat(2, 600px);
    column-gap: 50px;
    align-items: left;
    
}

.ProjectName {
    text-align: center;
}

.extra { 
    
    background: rgba(29, 106, 154, 0.72);
    color: #fff;
    display: none;
   

    
}

.extra a {
    text-decoration: none;
    color: $offwhite;
    font-size: 20px;
}

.extra a:hover {
    border-bottom: 2px solid $offwhite;
}


.projectText p {
    margin-left: 20px;
    margin-top: 0;
}


.ProjectName:hover h3 {
    @include removeOutline;
}

.ProjectName:hover .extra {
    
    background-color: transparent;
    opacity: 1;
    display: grid;
    grid-template-columns: 300px 250px;
    gap: 40px;
    text-align: left;

  }

.projectGrid .initialIMG {
      width: 50%;
      object-fit: cover;
  }

  .ProjectName:hover .initialIMG {
      display: none;
  }

  .hoverIMG {
      width: 100%;
      object-fit: contain;
  }

  .projectLinks {
      text-align: left;
  }

  .projectText p {
      margin-left: 0;
      margin-top: 30px;
  }



  //CONTACT

  input {
    width: 366px;
    background-color: #2F2F2F;
    border-style: none;
    color: $offwhite;
    padding: 15px;

}

textarea {
    background-color: #2F2F2F;
    border-style: none;
    resize: none;
    color: $offwhite;
    padding: 15px;
}

input::placeholder, textarea::placeholder {
    color: #424242   ;
    letter-spacing: 2px;
    @include bodyProps;
    font-weight: 500;
    font-size: 1rem;
    
  }

button {
    background-color: #1482A4;
	@include bodyProps;
    font-weight: 500;
	color:$offwhite;
    text-decoration: none;
    border-style: none;
    padding: 10px;
    text-transform: uppercase;
    margin-top:20px;
    cursor: pointer;

}


form {
    display: flex;
    flex-direction: column;
    width: 800px;
    @include bodyProps;
    line-height: 25px; 
}

button:hover {
    border: 2px solid $offwhite;
}

.userInformation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.contactSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}


.contact {
    margin-bottom: 50px;
}

.contactCopy {
    margin: 0;
    @include bodyProps;

}

.socials i {
    font-size: 30px;
    padding-right: 20px;
}

.contactHeading {
    text-transform: uppercase;
    font-weight: 500;
    margin: 10px 0;
}

.contactLink {
    text-decoration: none;
    @include bodyProps;
}

.captcha {
    margin-top: 20px;
}


//MEDIA QUERIES

@media (max-width: 1024px) {
    //CONTACT

    form {
        margin: 0 auto;
    }

    .contactSection {
        grid-template-columns: repeat(1, 1fr);
    }
  }



  @media (max-width: 910px) {

    //HEADER
    
        // .test4 {
        //    font-size: 2.5rem; 
        // }

        .test4 {
            font-size: 4rem;
        }
    
       section h2 {
           text-align: center;
           margin-bottom: 10px;
       }
    
    //ABOUT
        .aboutText {
            display: flex;
            flex-direction: column;
        }
    
        .sillyIntro {
            text-align: center;
        }
    //SKILLS
        .skills ul {
            grid-template-columns: repeat(2, 1fr);
            margin: 0 auto;
        }
    
    //PROJECTS
    
        h3 {
            font-size: 2rem;
            text-align: center;
            
        }
    
        .projectGrid {
            grid-template-columns: repeat(1, 1fr);
        }
    
        .projectGrid .initialIMG {
            width: 80%;
        }
        
        .ProjectName:hover .extra {
            grid-template-columns: 1fr 1fr;
        }

        .projectText {
            margin: 0 auto;
            gap: 0;
        }

        .contactSection {
            grid-template-columns: repeat(1, 1fr);
        }
    
      }

      @media (max-width: 858px) {


    
        //ABOUT 
        .aboutText {
            display: flex;
            flex-direction: column;
        
        }    
    
        .aboutME {
            margin: 0 auto;
    
        }
    
        .aboutText img {
            width: 60%;
            margin: 0 auto;
        }


        //SKILLS

        .skills ul {
            grid-template-columns: repeat(3, 1fr);
        }
        //CONTACT

        form {
            width: 85%;
            margin:0 auto;
        }

        input {
            width: 44%;
        }
        
        
    
    }

    @media (max-width: 768px) {
        .skills ul {
            grid-template-columns: repeat(3, 1fr);
        }

        // .projectGrid .initialIMG {
        //     display:none;
        // }
        
        // .projectGrid .extra {
        //     display: grid;
        //     background-color: transparent;
        //     text-align: left;
        // }

        h3 {
            margin-top: 20px;
            
    }
}
    
    @media (max-width: 530px) {
  
        //HEADER
      
        .test4 {
          font-size: 2.5rem; 
       }
      
       section h2 {
           text-align: center;
           font-size: 2rem;
           margin-bottom: 10px;
       }
      
      //ABOUT
       .aboutText {
           display: flex;
           flex-direction: column;
       }
    
       .sillyIntro {
           text-align: center;
       }
      
      //PROJECTS
      
       h3 {
           font-size: 1.5rem;
           
       }
      
       .projectGrid {
           grid-template-columns: repeat(1, 450px);
       }
      
       .projectGrid .initialIMG {
           width: 100%;
       }
       
       .ProjectName:hover .extra {
           grid-template-columns: repeat(1, 1fr);
       }
      //CONTACT
      
    
       form {
           width: 80%;
           margin: 0 auto;
       }
      
       input {
    
           margin-top: 20px;
       }
      
       .navBar {
           display: none;
       }
      
       .userInformation { 
           flex-direction: column;
           width: 203%;
          
       }
      
       .contactSection {
           grid-template-columns: repeat(1, 1fr);
       }
      
       .social-contact {
           text-align: left;
       }
       .socials {
           text-align: left;
       }
          
        }


@media (max-width: 450px) {
//PROJECTS
// .projectGrid .initialIMG {
//     display:none;
// }

// .projectGrid .extra {
//     // display: grid;
//     // grid-template-columns: repeat(1, 1fr);
//     margin: 0 auto;
//     background-color: transparent;
//     text-align: left;
// }

.projectText p {
    margin: 0;
}

h3 {
    margin-top: 20px;
    text-align: center;

}

}

@media (max-width: 414px) {

    .projectGrid {
        grid-template-columns: repeat(1, 1fr);
    }


    // .projectGrid .extra {
    //     display: grid;
    //     grid-template-columns: repeat(1, 1fr);
    //     margin: 0 auto;
    //     background-color: transparent;
    //     text-align: left;
    // }
    
}


@media (max-width: 380px) {

    section {
        overflow-x:hidden;
    }

    //HEADER
    
        .test4 {
           font-size: 2rem; 
        }
    
        section h2 {
            text-align: center;
            font-size: 2rem;
            margin-bottom: 10px;
        }
    
    //ABOUT
       
    
        .aboutME {
            text-align: center;
           
        }
        
    

    //SKILLS 
    .skills ul {
        grid-template-columns: repeat(2, 1fr);
    }
    //PROJECTS
    
        h3 {
            font-size: 1.5rem;
            margin: 0 auto;
            
        }
    
        .projectGrid {
            grid-template-columns: repeat(1, 1fr);
            margin: 0 auto;
        
        }
    
        .projectGrid .initialIMG {
            width: 100%;
        }
        
        // .ProjectName:hover .extra {
        //     grid-template-columns: repeat(1, 1fr);
        // }
    //CONTACT
    
        // .spacer {
        //     display: none;
        // }
        form {
            width: 300px;
        }
    
        input {
            width: 270px;
            margin-top: 20px;
        }
    
        .navBar {
            display: none;
        }
    
    
        .contactSection {
            grid-template-columns: repeat(1, 1fr);
        }
    
        .social-contact {
            text-align: left;
        }
        .socials {
            text-align: left;
        }
       
      }

   
 

 




      