@import "snippet";
@import "variables";
@import "header";
@import "animations";

//GENERAL STYLING

body {
    background-color: #141414 ;
    @include bodyProps;
 
}

p {
    font-size: 18px;
    line-height: 1.6;
}


//WELCOME PAGE

h1 span {
    @include outline;
}


.test4 {
@include headingProps;
font-size: 3.5rem;
color: $offwhite;

    }


.homeSpacer {
    height: 40vh

}

.spacer {
    height: 10vh;
}

//ABOUT PAGE

section h2 {
    @include headingProps;
    @include outline;
    text-align: left;
    font-size: 2.5rem;  
    
}

.aboutText {
    @include grid;
    
}

.aboutText img{

    width: 100%;
    object-fit: cover;
    grid-column-start: 2;
}

.aboutME {
    text-align: right;
    grid-column-start: 3;
}

//SKILLS

.skills ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    row-gap: 50px;
    list-style: none;
    text-align: center;
    margin: 0;
    
}

i {
    font-size: 50px;
    color: $offwhite;
}

//PROJECTS

h3 {
    @include headingProps;
    @include outline;
    font-size: 1.75rem;
}

.projectGrid {
    display:grid;
    grid-template-columns: repeat(2, 720px);
    column-gap: 50px;
}

.ProjectName {
    text-align: center;
}

.extra { 
    
    background: rgba(29, 106, 154, 0.72);
    color: #fff;
    display: none;
    opacity: 0;
    display: grid;
    grid-template-columns: 300px 300px;
    gap: 60px;
    text-align: right;
    
}

.projectText p {
    margin-left: 20px;
}


.ProjectName:hover h3 {
    @include removeOutline;
}

.ProjectName:hover .extra {
    visibility: visible;
    opacity: 1;
    background-color: transparent;

  }

.projectGrid .initialIMG {
      width: 50%;
      object-fit: cover;
  }

  .ProjectName:hover .initialIMG {
      display: none;
  }

  .hoverIMG {
      width: 100%;
      object-fit: contain;
  }